

<div>
    <h2> Which third-party libraries you decided to use and why? </h2>
    <p>Angular material for the theme/navbar/sidepanel/tablelist etc.</p>
</div>


<div>
    <h2>Any parts of the task that you found easy or difficult, or code that is tricky or needs explanation ?</h2>
    <p> The deployment of the project has been impossible because firebase does not allow for http calls outside the google domain</p>
    <p>And the rest of the project cannot bluntly be labelled as easy or difficult but everything was a learning oppurtunity</p>
</div>
<div>
    <h2>Time taken to complete the task ?</h2>
    <p> +-27 Hours</p>
</div>